---
kind: method
---

# _process_run_monkey_test_result(self, result)

- 定义于：[[controllers._app_monkey.ADBAppMonkeyMixin]]
- 全名：controllers._app_monkey.ADBAppMonkeyMixin._process_run_monkey_test_result

## 调用

- [[controllers._app_monkey._finalize_monkey_target]]
- [[controllers._app_monkey._monkey_state_map]]
- [[controllers._base._ADBControllerBase._emit_operation]]

